---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import WhatIDo from "@/components/WhatIDo.astro";
import Banner from "@/components/Banner.astro";
import { SITE_TITLE, SITE_DESCRIPTION, IMAGE_STONE } from "../../consts";
const heroImage = IMAGE_STONE;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[heroImage])
  throw new Error(
    `"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto md:px-10">
      <Banner
        title="Work"
        color="text-purple-400"
        heroImage={images[heroImage]()}
      />
      <WhatIDo />
    </main>
    <Footer />
  </body>
</html>
