/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria.ttf') format('truetype'), local(Alexandria);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kablammo';
    src: url('/fonts/Kablammo-Regular.woff2') format('woff2'),
        url('/fonts/Kablammo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@layer components {
    .post-list {
        @apply flex flex-wrap justify-center md:justify-start gap-5 py-10;
    }

    .post-card {
        @apply w-72 text-left rounded-3xl border border-black shadow-card transition px-4 py-6 flex flex-col gap-6;
    }
}

body {
    font-family: 'Alexandria', sans-serif;
    background-color: #f2f2f2;
}