---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["astro", "react", "svelte", "vue", "web-components"];
const description = "";
---

<Layout
  tags={tags}
  icon="beach"
  title="About Me"
  description={description}
  pubDate={new Date("Febuary 06 2025")}
  heroImage="/src/assets/liu.jpg"
>
  <p>
    Hi, I'm Sherman! Welcome to my blog, where I share my journey as an
    independent software developer and traveler.
  </p>
  <p>
    I have used Python and other technologies in my work, and I am now teaching
    myself React Native. My passion for technology led me to start developing my
    first iOS app - a reading app to improve vocabulary.
  </p>
  <p>
    Beyond coding, I love traveling, hiking, and discovering new places. My
    experiences as an international student in Ottawa have shaped my
    perspective, and I enjoy sharing insights on personal growth, creativity,
    and the challenges of building something from the ground up. Here is my
    space to document my projects, ideas, and the lessons I learn along the way.
  </p>
  <p>Feel free to connect with me!</p>
</Layout>
