---
const today = new Date();
import SocialLink from "./SocialLink.astro";
---

<footer
  class="flex flex-col items-center container mx-auto p-20 text-center gap-10"
>
  &copy; {today.getFullYear()} Sherman Liu. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <SocialLink
      href="https://github.com/mooonpark"
      iconName="github"
      bgColor="bg-pblue"
    />
    <SocialLink
      href="https://www.instagram.com/shermanliu2048/"
      iconName="ins"
      bgColor="bg-ppink"
    />
    <SocialLink
      href="https://github.com/mooonpark"
      iconName="linkedin"
      bgColor="bg-pgreen"
    />
  </div>
</footer>
