---
import { getCollection } from "astro:content";
import PostList from "./PostList.astro";
import LinkButton from "@/components/LinkButton.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const latestPosts = posts.slice(0, 12);
---

<PostList posts={latestPosts} title="Recent work" />
<section class="px-4 pt-2 md:px-0 md:gap-0 text-center md:text-left">
  <LinkButton href="/blog" title="Read more" />
</section>
